.slider-img img {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider {
  background-color: rgb(186, 186, 224);
  border: 1px solid rgb(186, 186, 224);
}
.btn {
  display: flex;
  justify-content: space-between;
}
button {
  outline: none;
  border: none;
  background-color: none;
}
