* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  font-family: sans-serif;
}
section {
  margin: 0 2rem;
}
@media screen and (max-width:640px){
  section {
    margin: 0;
  }
}
@media screen and (max-width:720px){
  section {
    margin: 0;
  }
}
@media screen and (max-width:550px){
  section {
    margin: 0;
  }
}
